doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="iniciar_sesion.css")
        title Iniciar Sesion
    body 
        .container
            .login 
                input(type="text" placeholder="usuario" id="usuario")
                input(type="text" placeholder="contraseña" id="contrasena") 
                button(id="iniciar_sesion") Inicia sesion 
            button
                a(href="/registarse") Registrate
    script(src="funciones.js") 